@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
body,html
    {
    background-color: rgb(240,240,240);
    height:100%;
    padding:0px;
    margin:0px;
    }
.customNav
    {
    margin:auto;
    margin-top:20px;
    border-radius:55px;
    background:black !important;
    width:70%;
    }
.customNav p 
    {
    color:white;
    }
.brand
    {
    margin-left:20px;
    }
.elements
    {
    margin:10px;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    }
.elements li
    {
    margin-left:15px;
    margin-right:15px;
    }
.elements p:hover
    {
    color:grey;
    transition-timing-function: ease-in-out;
    transition-duration:0.3s;
    }
.nav-link  p 
    {
    padding:0px;
    margin:0px;
    font-size:1.1em;
    font-family: 'Nunito Sans', sans-serif;
    }
.bottom
    {
    background:black;
    position: absolute;
    bottom:0px;
    width:100%;
    height:120px;
    color:white;
    margin:0px;
    margin-top: 50px;
    }
.break
    {
    border:0px;
    height:1px;
    background:#333333;
    width:70%;
    display:block;
    }
.socials
    {
    width:30%;
    margin:auto;
    height:50px;
    margin-top:10px;
    }
.socials > i
    {
    font-size:1.3em;
    color:white;
    transition-duration:0.3s;
    transition-timing-function: ease-in-out;
    }
.socials > i:first-child:hover 
    {
    color:#3C5A99;
    }
.socials >i:nth-child(2):hover
    {
    color:#FF0000;
    }
.socials >i:nth-child(3):hover
    {
    color:#C13584;
    }
.socials >i:last-child:hover
    {
    color:#1DA1F2;
    }


.container
    {
    padding-bottom:120px;
    }




  .card-signup {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signup .card-title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .card-signup .card-body {
    padding: 2rem;
  }
  
  .form-signup {
    width: 100%;
  }
  
 .form-signup .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;

  }
  
  
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  
  
 
 
